// Bootstrap variable overrides go first.
// See node_modules/bootstrap/scss/_variables.scss for all of the
// potential variables to customize.
// For example ...
$primary: #39B54A; // set the primary color to AC Green

$link-color: #000; // set link color to black

$border-radius: 15px; // increase border radius on buttons

$font-weight-light: 200;

$btn-font-weight: 300i;

@import url('https://fonts.googleapis.com/css?family=Nunito:200,300i,400');
$font-family-sans-serif: 'Nunito', sans-serif;

$card-bg: #F2F2F2;

$card-border-color: none;

$paragraph-margin-bottom: 2rem;

$box-shadow: 0 0rem 1.5rem rgba(black, .4);

$display3-size: 3rem;

$display4-size: 2.5rem;
// Load the main bootstrap framework.
@import '../node_modules/bootstrap/scss/bootstrap';

// Custom styles that are common for all pages in our project


// Load our custom partials with styles specific to a particular page.
// e.g. @import 'schedule';
// will import the '_schedule.scss' file with style specific to the schedule page.
